%section.span7.offset1
  %article.well
    / :if article.version
    /   %a.sha-version{ href: "/#{article.version}/#{article.name}" } Static Version
    %h2
      %a{href: "/" + article.name}&= article.title
    = markdownEncode(article.markdown)
    %hr{style:"clear:both"}
    #disqus_thread.body
    :script
      var disqus_url = "http://howtonode.org/#{article.name}";
    %script(src="http://disqus.com/forums/howtonodeorg/embed.js" type="text/javascript")
    %a.view-thread(href="http://disqus.com/forums/howtonodeorg/?url=ref")
      View the discussion thread.
    %a.dsq-brlink(href="http://disqus.com")
      blog comments powered by
      %span.logo-disqus
        Disqus
    :script
      (function() {
        var links = document.getElementsByTagName('a');
        var query = '?';
        for(var i = 0; i < links.length; i++) {
          if(links[i].href.indexOf('#disqus_thread') >= 0) {
            query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&amp;';
          }
        }
        document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/howtonodeorg/get_num_replies.js' + query + '"></' + 'script>');
      })();


%section#sidebar.span3
  / .aside.author
  /   %h4 About the Author
  /   %img.headshot{src: gravitar(author.email) }
  /   %dl
  /     %dt Name:
  /     %dd&= author.name
  /   :if author.github
  /     %dl
  /       %dt Github:
  /       %dd= github(author.github)
  /   :if author.bitbucket
  /     %dl
  /       %dt BitBucket:
  /       %dd= bitbucket(author.bitbucket)
  /   :if author.twitter
  /     %dl
  /       %dt Twitter:
  /       %dd= twitter(author.twitter)
  /   :if author.location
  /     %dl
  /       %dt Location:
  /       %dd&= author.location
  /   :if author.homepage
  /     %dl
  /       %dt Links:
  /       %dd
  /         %a{href: author.homepage} Homepage

  .well
    %h3
      À propos de cet article
    %a.twitter-share-button{href:"https://twitter.com/share"}
      Tweet
    %script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    
    :if article.date
      %dl{title: article.date}
        %dt
          Date de publication :
        %dd
          &= formatDate(article.date, "%A, %B %e, %Y")

    :if article.lastUpdated
      %dl{title: article.lastUpdated}
        %dt
          Dernière mise à jour :
        %dd
          &= formatDate(article.lastUpdated, "%A, %B %e, %Y")

    :if article.dependencies
      %dl
        %dt
          Dependency Versions:
        %dd
          %ul
            :each dependency in article.dependencies
              %li
                %a{ href: "http://github.com/creationix/haml-js/tree/8ea2df3a90ff488ed253d5872e0f4a387f393e5d" }
                  haml-js v0.2.2

    %ul.nav.nav-list
      %li.nav-header
        Versions de l'article :
      :each version, stat in article.log
        %li{title: stat.message}
          %a{ href: "/#{version}/#{article.name}" }
            &= new Date(stat.date).toUTCString()

    :if article.uniqueSnippets
      %ul.nav.nav-list
        %li.nav-header
          Codes associés :
        :each base, snippet in article.uniqueSnippets
          %li
            %a{ href: snippet.filename}
              &= base

  :if article.related && article.related.length > 0
    .well
      %ul.nav.nav-list
        %li.nav-header
          Derniers articles :
      :each related in article.related
        %li
          %a{href: "/" + related.name}&=related.title
          :if related.node
            %span.versiontag&= related.node